<?xml version="1.0"?>
<config>
    <modules>
        <Reverb_Io>
            <version>0.1.0</version>
        </Reverb_Io>
    </modules>
    <global>
        <models>
            <reverb_io>
                <class>Reverb_Io_Model</class>
            </reverb_io>
        </models>
        <helpers>
            <reverb_io>
                <class>Reverb_Io_Helper</class>
            </reverb_io>
        </helpers>
    </global>
</config>