<?xml version="1.0"?>
<!--
/**
 *
 * @category    Reverb
 * @package     Reverb_ReverbSync
 * @author      Sean Dunagan
 */
-->
<config>
  <modules>
    <Reverb_ReverbSync>
      <version>0.1.18</version>
    </Reverb_ReverbSync>
  </modules>
  <global>
    <models>
      <reverbSync>
        <class>Reverb_ReverbSync_Model</class>
        <resourceModel>reverb_sync_queue_mysql4</resourceModel>
      </reverbSync>
      <reverb_sync_queue_mysql4>
        <class>Reverb_ReverbSync_Model_Mysql4</class>
          <entities>
              <reverb_category>
                  <table>reverb_categories</table>
              </reverb_category>
              <magento_reverb_category_xref>
                  <table>reverb_magento_category_xref</table>
              </magento_reverb_category_xref>
              <magento_reverb_field_mapping>
                  <table>reverb_magento_field_mapping</table>
              </magento_reverb_field_mapping>
              <!-- This table has been deprecated and is no longer in use -->
              <magento_reverb_category_mapping>
                  <table>reverb_magento_categories</table>
              </magento_reverb_category_mapping>
          </entities>
      </reverb_sync_queue_mysql4>
    </models>
    <resources>
      <reverbsync_setup>
        <setup>
          <module>Reverb_ReverbSync</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </reverbsync_setup>
      <reverbsync_write>
        <connection>
          <use>core_write</use>
        </connection>
      </reverbsync_write>
      <reverbsync_read>
        <connection>
          <use>core_read</use>
        </connection>
      </reverbsync_read>
    </resources>
    <models>
      <ReverbSync_adminhtml>
        <class>Reverb_ReverbSync_Adminhtml_Model</class>
      </ReverbSync_adminhtml>
    </models>
    <helpers>
      <ReverbSync>
        <class>Reverb_ReverbSync_Helper</class>
      </ReverbSync>
    </helpers>
    <events>
      <catalog_product_save_after>
        <observers>
          <Reverb_ReverbSync>
            <type>singleton</type>
            <class>Reverb_ReverbSync_Model_Observer</class>
            <method>productSave</method>
          </Reverb_ReverbSync>
        </observers>
      </catalog_product_save_after>
      <sales_order_place_after>
        <observers>
          <Reverb_ReverbSync>
            <type>singleton</type>
            <class>Reverb_ReverbSync_Model_Observer</class>
            <method>orderSave</method>
          </Reverb_ReverbSync>
        </observers>
      </sales_order_place_after>

        <reverb_order_update>
            <observers>
                <execute_magento_order_update>
                    <type>singleton</type>
                    <class>Reverb_ReverbSync_Model_Observer_Orders_Update</class>
                    <method>executeMagentoOrderUpdate</method>
                </execute_magento_order_update>
            </observers>
        </reverb_order_update>

        <reverb_order_status_update_cancelled>
            <observers>
                <execute_magento_order_cancel>
                    <type>singleton</type>
                    <class>Reverb_ReverbSync_Model_Observer_Orders_Update</class>
                    <method>executeMagentoOrderCancel</method>
                </execute_magento_order_cancel>
            </observers>
        </reverb_order_status_update_cancelled>

        <reverb_order_status_update_paid>
            <observers>
                <execute_magento_order_paid>
                    <type>singleton</type>
                    <class>Reverb_ReverbSync_Model_Observer_Orders_Update</class>
                    <method>executeMagentoOrderPaid</method>
                </execute_magento_order_paid>
            </observers>
        </reverb_order_status_update_paid>
    </events>
    <blocks>
      <ReverbSync>
        <class>Reverb_ReverbSync_Block</class>
      </ReverbSync>
    </blocks>

    <fieldsets>
      <sales_convert_quote_item>
        <reverb_item_link>
          <to_order_item>*</to_order_item>
        </reverb_item_link>
      </sales_convert_quote_item>
    </fieldsets>

    <events>
      <sales_order_shipment_track_save_after>
        <observers>
          <send_tracking_info_to_reverb_if_necessary>
            <type>singleton</type>
            <class>reverbSync/observer_shipment</class>
            <method>sendTrackingInfoToReverbIfReverbOrder</method>
          </send_tracking_info_to_reverb_if_necessary>
        </observers>
      </sales_order_shipment_track_save_after>
    </events>

  </global>
  <adminhtml>
    <layout>
      <updates>
        <ReverbSync>
          <file>ReverbSync.xml</file>
        </ReverbSync>
      </updates>
    </layout>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <ReverbSync>
                      <title>Reverb Sync</title>
                    </ReverbSync>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>

    <events>
      <should_reverb_shipping_be_allowed>
        <observers>
          <check_for_syncing_reverb_order>
            <type>singleton</type>
            <class>reverbSync/observer_orders</class>
            <method>checkForSyncingReverbOrderForShipping</method>
          </check_for_syncing_reverb_order>
        </observers>
      </should_reverb_shipping_be_allowed>

      <should_reverb_payment_be_allowed>
        <observers>
          <check_for_syncing_reverb_order>
            <type>singleton</type>
            <class>reverbSync/observer_orders</class>
            <method>checkForSyncingReverbOrderForPayment</method>
          </check_for_syncing_reverb_order>
        </observers>
      </should_reverb_payment_be_allowed>

      <controller_action_layout_render_before_adminhtml_sales_order_view>
        <observers>
          <update_layout_for_reverb_order>
            <type>singleton</type>
            <class>reverbSync/observer_orders</class>
            <method>updateAdminOrderViewForReverbOrders</method>
          </update_layout_for_reverb_order>
        </observers>
      </controller_action_layout_render_before_adminhtml_sales_order_view>

      <controller_action_layout_render_before_adminhtml_sales_order_invoice_view>
        <observers>
          <update_layout_for_reverb_order>
            <type>singleton</type>
            <class>reverbSync/observer_orders</class>
            <method>updateAdminOrderViewForReverbOrderInvoices</method>
          </update_layout_for_reverb_order>
        </observers>
      </controller_action_layout_render_before_adminhtml_sales_order_invoice_view>

        <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <observers>
                <queue_bulk_product_sync>
                    <type>singleton</type>
                    <class>reverbSync/observer</class>
                    <method>triggerProductSyncOffMassProductUpdate</method>
                </queue_bulk_product_sync>
            </observers>
        </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
    </events>
  </adminhtml>

  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Reverb_ReverbSync_Adminhtml before="Mage_Adminhtml">Reverb_ReverbSync_Adminhtml</Reverb_ReverbSync_Adminhtml>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <crontab>
    <jobs>
      <reverb_process_queued_listing_sync_tasks>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>reverbSync/cron_listings_sync::attemptCronExecution</model>
        </run>
      </reverb_process_queued_listing_sync_tasks>

      <reverb_process_queued_listing_image_sync_tasks>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>reverbSync/cron_listings_images_sync::attemptCronExecution</model>
        </run>
      </reverb_process_queued_listing_image_sync_tasks>

      <!-- As of 2016/05/12, orders will be created as part of the order update task
      <reverb_sync_order_creations>
        <schedule>
          <cron_expr>2,7,12,17,22,27,32,37,42,47,52,57 * * * *</cron_expr>
        </schedule>
        <run>
          <model>reverbSync/cron_orders_creation::attemptCronExecution</model>
        </run>
      </reverb_sync_order_creations>
      -->

      <reverb_sync_order_updates>
        <schedule>
          <cron_expr>3,8,13,18,23,28,33,38,43,48,53,58 * * * *</cron_expr>
        </schedule>
        <run>
          <model>reverbSync/cron_orders_update::attemptCronExecution</model>
        </run>
      </reverb_sync_order_updates>
    </jobs>

    <events>
      <should_reverb_shipping_be_allowed>
        <observers>
          <check_for_syncing_reverb_order>
            <type>singleton</type>
            <class>reverbSync/observer_orders</class>
            <method>checkForSyncingReverbOrderForShipping</method>
          </check_for_syncing_reverb_order>
        </observers>
      </should_reverb_shipping_be_allowed>

      <should_reverb_payment_be_allowed>
        <observers>
          <check_for_syncing_reverb_order>
            <type>singleton</type>
            <class>reverbSync/observer_orders</class>
            <method>checkForSyncingReverbOrderForPayment</method>
          </check_for_syncing_reverb_order>
        </observers>
      </should_reverb_payment_be_allowed>
    </events>
  </crontab>

  <default>
    <ReverbSync>
      <extensionOption_group>
        <!-- By default, logging will be turned off to prevent bloating of log files on client servers -->
        <enable_logging>0</enable_logging>
      </extensionOption_group>
      <reverbDefault>
        <enable_listing_creation>0</enable_listing_creation>
        <require_reverb_category_definition>0</require_reverb_category_definition>
        <enable_image_sync>0</enable_image_sync>
        <revCond>Brand New</revCond>
        <revInvent>1</revInvent>
        <offers_enabled>1</offers_enabled>
      </reverbDefault>
      <extension>
        <revUrl>https://sandbox.reverb.com</revUrl>
      </extension>
      <listings_update_switches>
        <title>0</title>
        <price>0</price>
        <description>0</description>
        <inventory_qty>1</inventory_qty>
      </listings_update_switches>
      <listings_field_attributes>
        <description>description</description>
      </listings_field_attributes>
      <orders_sync>
        <enabled>0</enabled>
        <super_mode_enabled>0</super_mode_enabled>
        <order_sync_reverb_source_url>/api/my/orders/selling/all?created_start_date=%s</order_sync_reverb_source_url>
        <!-- Default orders to be synced to the Admin store -->
        <store_to_sync_order_to>0</store_to_sync_order_to>
      </orders_sync>
    </ReverbSync>
  </default>
</config>
