<?xml version="1.0"?>

<config>
    <modules>
        <Reverb_Reports>
            <version>1.0.0</version>
        </Reverb_Reports>
    </modules>
    <global>
        <resources>
            <reverb_reports_setup>
                <setup>
                    <module>Reverb_Reports</module>
                    <class>Reverb_Reports_Model_Resource_Setup</class>
                </setup>
            </reverb_reports_setup>
        </resources>
        <blocks>
            <reverb_reports>
                <class>Reverb_Reports_Block</class>
            </reverb_reports>
        </blocks>
        <helpers>
            <reverb_reports>
                <class>Reverb_Reports_Helper</class>
            </reverb_reports>
        </helpers>
        <models>
            <reverb_reports>
                <class>Reverb_Reports_Model</class>
                <resourceModel>reverb_reports_resource</resourceModel>
            </reverb_reports>
            <reverb_reports_resource>
                <class>Reverb_Reports_Model_Resource</class>
                <entities>
                    <reverbreport>
                        <table>reverb_reports_reverbreport</table>
                    </reverbreport>
                </entities>
            </reverb_reports_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <reverb_reports>
                    <file>reverb_reports.xml</file>
                </reverb_reports>
            </updates>
        </layout>
        <translate>
            <modules>
                <Reverb_Reports>
                    <files>
                        <default>Reverb_Reports.csv</default>
                    </files>
                </Reverb_Reports>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Reverb_Reports before="Mage_Adminhtml">Reverb_Reports_Adminhtml</Reverb_Reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
