<?xml version="1.0"?>

<config>
    <modules>
        <Reverb_Reports>
            <version>1.0.1</version>
        </Reverb_Reports>
    </modules>
    <global>
        <resources>
            <reverb_reports_setup>
                <setup>
                    <module>Reverb_Reports</module>
                    <class>Reverb_Reports_Model_Resource_Setup</class>
                </setup>
            </reverb_reports_setup>
        </resources>
        <blocks>
            <reverb_reports>
                <class>Reverb_Reports_Block</class>
            </reverb_reports>
        </blocks>
        <helpers>
            <reverb_reports>
                <class>Reverb_Reports_Helper</class>
            </reverb_reports>
        </helpers>
        <models>
            <reverb_reports>
                <class>Reverb_Reports_Model</class>
                <resourceModel>reverb_reports_resource</resourceModel>
            </reverb_reports>
            <reverb_reports_resource>
                <class>Reverb_Reports_Model_Resource</class>
                <entities>
                    <reverbreport>
                        <table>reverb_reports_reverbreport</table>
                    </reverbreport>
                </entities>
            </reverb_reports_resource>
        </models>

        <events>
            <reverb_listing_synced>
                <observers>
                    <record_listing_report>
                        <type>singleton</type>
                        <class>reverb_reports/observer</class>
                        <method>recordListingReport</method>
                    </record_listing_report>
                </observers>
            </reverb_listing_synced>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <reverb_reports>
                    <file>reverb_reports.xml</file>
                </reverb_reports>
            </updates>
        </layout>
        <translate>
            <modules>
                <Reverb_Reports>
                    <files>
                        <default>Reverb_Reports.csv</default>
                    </files>
                </Reverb_Reports>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reverb_reports before="Mage_Adminhtml">Reverb_Reports_Adminhtml</reverb_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <reverb_reports_delete_stale_successful>
                <schedule>
                    <cron_expr>37 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>reverb_reports/cron_delete_stale_successful::deleteStaleSuccessfulReports</model>
                </run>
            </reverb_reports_delete_stale_successful>
        </jobs>
    </crontab>
</config>
