<?xml version="1.0"?>
<config>
    <modules>
        <DELLCReverb_ReverbSync>
            <version>0.0.1</version>
        </DELLCReverb_ReverbSync>
    </modules>

    <global>
        <models>
            <dellc_reverb_sync>
                <class>DELLCReverb_ReverbSync_Model</class>
            </dellc_reverb_sync>

            <reverbSync>
                <rewrite>
                    <Mapper_Product>DELLCReverb_ReverbSync_Model_Mapper_Product</Mapper_Product>
                </rewrite>
            </reverbSync>
        </models>
    </global>
</config>
